* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
html {
    height: 100%;
    
}
body {
   /* background-image:url("/AngularJS/byNVT/image/background.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
button{
    width:  178% ;
    height: 0px ;
}

.container {
    background-color: #f2f2f2;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 0 10px  rgba(0, 0, 0, 3);
    border-radius: 10px;
}
#btn1 {
    border: none;
    background-color: #f3f3f3;
    margin: 4px;
    text-decoration: underline;
    color: rgb(0, 0, 255);
}
.inp {
    width: 300px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    padding: 2px;
    margin: 5px;
}
#btn2 {
    border: 1px solid rgb(252, 252, 252);
    background-color: rgb(156, 164, 255);
    border-radius: 4px;
}
#tbl,
#tbl thead,
#tbl tbody,
#tbl thead th,
#tbl tbody tr td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    text-align: center;
}
#tbl {
    width: 100%;
}